*{  
    margin :0px;   
    padding: 0px; 
    box-sizing: border-box;
}

html,body{
background-color:white;
}
/*--------------global classes------------------*/

a{
 text-decoration: none;
}
.flex-row{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
}

ul{
list-style-type: none;
}
 
h5{
    color:  rgb(224, 145, 158);
    font-family: flamenco;
    font-size:1.2rem;
    font-weight: lighter;
}
 
/*-------x-------global classes-----x-------------*/

/*---------------navibar--------------------*/
.nav{
 background: white;
 padding: 0.2rem;
 height: 0rem;
 min-height: 9.5vh;
 overflow: hidden;
 font-family: flamenco;
 color: rgb(224, 145, 158);
}

.nav .nav-menu{
 justify-content: space-between;
 color: rgb(224, 145, 158);
}

.nav .nav-items{
 color: rgb(224, 145, 158);
 display: flex;
 margin-left: 170px;
}

.nav .nav-items .nav-link{
 padding: 1.5rem 1.3rem;
 font-size: 1.2rem;
 position: relative;
 color:rgb(224, 145, 158);
}

.nav .nav-items .nav-link:hover{
background-color: white;
color: rgb(224, 145, 158);
}


.nav .nav-items .nav-link:hover a{
 color: rgb(243, 124, 144);
 cursor: pointer;
}
.nav .nav-brand{
    font-size: 1.2rem;
    padding: 1rem 1rem;
    display: block;
    color:  rgb(224, 145, 158);
    font-family: Segoe Script;
}  
 
.section-1{
    background-image: url("images/contactme\ \(1\).jpg");
    background-size: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 110vh;
}
 
.nav .social{
    padding: 1.4rem 1rem; 
 }
 .nav .social i{
    padding: 0.5rem; 
    color:rgb(145, 142, 142);
     
 }  
 .nav .social i:hover{
    color:rgb(243, 124, 144);
 }
  

/*-------x--------navbar------------x--------*/
/*-----------------contact-------------------*/
 

.section-2{
    position: absolute;
    top: 140%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: flamenco;
    font-size:1.2rem; 
    background-image: url("images/pink\ 2.jpg");
     background-repeat: no-repeat;
     background-position: left;
}

h1{
    color: rgb(231, 154, 154);
    margin-top: 50px;
    text-align: center;
}

p{
    color:rgb(231, 154, 154);
    font-family:calibri;
    font-size: 1rem;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}
 
.form{
    left: 50%;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    padding: 90px 90px;
}

input{
    width: 100%;
    margin: 25px 0;
    background: rgba(0,0,0,0);
    border: none;
    border-bottom: .5px solid gray;
}

#msg{
    margin-top: 70px;
}

 ::-webkit-input-placeholder{
    color: rgb(94, 90, 90);
    font-size: 18px;
    letter-spacing: 2px;
    font-family: flamenco;
}
.btn{
    display: inline-block;
    padding: 10px 30px;
    font-weight: lighter;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 200px;
    background-color: rgb(231, 154, 154);
    color:white;
    border: 1px solid rgb(231, 154, 154);
    cursor:pointer; 
    margin: 3rem;
    margin-left: 50px;
 
 }

 .btn:hover{
    background-color: white;
    color: rgb(231, 154, 154);
    border: 1px solid white;
 }
 
 .end{
    padding: 10px 10px;
    background-color: rgb(231, 154, 154);
    margin-top: 650px;
 }

 .end .social{
    padding: 1.4rem 1rem; 
    margin-left: 680px;
 }

 .end .social i{
    padding: 0.5rem; 
    color: white;
     
 }  
 .end .social i:hover{
    color:rgb(243, 124, 144);
 }
 h6{
     font-family: calibri;
     color: white;
     font-size:1rem;
    font-family: Segoe Script;
    text-align: center;
 }

 footer{
    font-size: 100%;
    padding: 7px 0px 0px 10px;
    color:black;
    margin-top: 50px;
    font-family: flamenco;
    text-align: center;
}

     
/*---------x--------contact----------x---------*/